In [2]:
import httpx
import json
import os
from datetime import datetime, timedelta
import pandas as pd

In [4]:
# Get data from Octopus API
url = "https://api.octopus.energy/v1/products/GO-VAR-22-10-14/electricity-tariffs/E-1R-GO-VAR-22-10-14-A/standard-unit-rates/?period_from=2024-06-30T00:00Z&period_to=2024-07-02T12"
response = httpx.get(url)

In [5]:
# Load into a DataFrame
data = response.json()
df = pd.DataFrame(data['results'])
df

,value_exc_vat,value_inc_vat,valid_from,valid_to,payment_method
0,23.2310,24.39255,2024-07-02T04:30:00Z,2024-07-02T23:30:00Z,None
1,8.0950,8.49975,2024-07-01T23:30:00Z,2024-07-02T04:30:00Z,None
2,23.2310,24.39255,2024-07-01T04:30:00Z,2024-07-01T23:30:00Z,None
3,8.0950,8.49975,2024-06-30T23:30:00Z,2024-07-01T04:30:00Z,None
4,23.2310,24.39255,2024-06-30T23:00:00Z,2024-06-30T23:30:00Z,None
5,26.6060,27.93630,2024-06-30T03:30:00Z,2024-06-30T23:00:00Z,None
6,8.5714,8.99997,2024-06-29T23:30:00Z,2024-06-30T03:30:00Z,None

In [6]:
data

{'count': 7,
 'next': None,
 'previous': None,
 'results': [{'value_exc_vat': 23.231,
   'value_inc_vat': 24.39255,
   'valid_from': '2024-07-02T04:30:00Z',
   'valid_to': '2024-07-02T23:30:00Z',
   'payment_method': None},
  {'value_exc_vat': 8.095,
   'value_inc_vat': 8.49975,
   'valid_from': '2024-07-01T23:30:00Z',
   'valid_to': '2024-07-02T04:30:00Z',
   'payment_method': None},
  {'value_exc_vat': 23.231,
   'value_inc_vat': 24.39255,
   'valid_from': '2024-07-01T04:30:00Z',
   'valid_to': '2024-07-01T23:30:00Z',
   'payment_method': None},
  {'value_exc_vat': 8.095,
   'value_inc_vat': 8.49975,
   'valid_from': '2024-06-30T23:30:00Z',
   'valid_to': '2024-07-01T04:30:00Z',
   'payment_method': None},
  {'value_exc_vat': 23.231,
   'value_inc_vat': 24.39255,
   'valid_from': '2024-06-30T23:00:00Z',
   'valid_to': '2024-06-30T23:30:00Z',
   'payment_method': None},
  {'value_exc_vat': 26.606,
   'value_inc_vat': 27.9363,
   'valid_from': '2024-06-30T03:30:00Z',
   'valid_to': '2024-06-30T23:00:00Z',
   'payment_method': None},
  {'value_exc_vat': 8.5714,
   'value_inc_vat': 8.99997,
   'valid_from': '2024-06-29T23:30:00Z',
   'valid_to': '2024-06-30T03:30:00Z',
   'payment_method': None}]}

In [7]:
series = {
    "monthDataSeries1": {
        "prices": [],
        "dates": []
    }
}

In [8]:
for result in data["results"]:
    value_inc_vat = result["value_inc_vat"]
    valid_from = datetime.fromisoformat(result["valid_from"][:-1])  # Remove the 'Z' from the end
    valid_from_str = valid_from.strftime("%d %b %Y")

    series["monthDataSeries1"]["prices"].append(value_inc_vat)
    series["monthDataSeries1"]["dates"].append(valid_from_str)

In [9]:
series["monthDataSeries1"]

{'prices': [24.39255, 8.49975, 24.39255, 8.49975, 24.39255, 27.9363, 8.99997],
 'dates': ['02 Jul 2024',
  '01 Jul 2024',
  '01 Jul 2024',
  '30 Jun 2024',
  '30 Jun 2024',
  '30 Jun 2024',
  '29 Jun 2024']}

In [10]:
series_json = json.dumps(series)

In [11]:
series_json

'{"monthDataSeries1": {"prices": [24.39255, 8.49975, 24.39255, 8.49975, 24.39255, 27.9363, 8.99997], "dates": ["02 Jul 2024", "01 Jul 2024", "01 Jul 2024", "30 Jun 2024", "30 Jun 2024", "30 Jun 2024", "29 Jun 2024"]}}'

In [12]:
df

,value_exc_vat,value_inc_vat,valid_from,valid_to,payment_method
0,23.2310,24.39255,2024-07-02T04:30:00Z,2024-07-02T23:30:00Z,None
1,8.0950,8.49975,2024-07-01T23:30:00Z,2024-07-02T04:30:00Z,None
2,23.2310,24.39255,2024-07-01T04:30:00Z,2024-07-01T23:30:00Z,None
3,8.0950,8.49975,2024-06-30T23:30:00Z,2024-07-01T04:30:00Z,None
4,23.2310,24.39255,2024-06-30T23:00:00Z,2024-06-30T23:30:00Z,None
5,26.6060,27.93630,2024-06-30T03:30:00Z,2024-06-30T23:00:00Z,None
6,8.5714,8.99997,2024-06-29T23:30:00Z,2024-06-30T03:30:00Z,None

In [15]:
[{"value": y, "datetime": x} for x, y in zip(series["monthDataSeries1"]["dates"], series["monthDataSeries1"]["prices"])]

[{'value': 24.39255, 'datetime': '02 Jul 2024'},
 {'value': 8.49975, 'datetime': '01 Jul 2024'},
 {'value': 24.39255, 'datetime': '01 Jul 2024'},
 {'value': 8.49975, 'datetime': '30 Jun 2024'},
 {'value': 24.39255, 'datetime': '30 Jun 2024'},
 {'value': 27.9363, 'datetime': '30 Jun 2024'},
 {'value': 8.99997, 'datetime': '29 Jun 2024'}]